<%- include('./header') %>

<div class="container-fluid">
	<h4>CATEGORIES</h4>
	<ul class="list-group" id="categorieSort">
		<% categories.forEach(function(cat){ %>
			<li class="list-group-item"><i class="fa fa-bars"></i> <%= cat.title %> <div class="float-right"><a href="/admin/editcategory/<%= cat._id %>" class="btn btn-sm btn-primary">Edit</a> <button class="btn btn-sm btn-danger" onclick="deleteCategory('<%= cat._id %>')">Delete</button></div> </li>
	 <%	}) %>
	</ul>
</div>

<%- include('./footer') %>
